body {
    margin: auto;
    line-height: 1.5;
    max-width: 65em;
    font-family: Helvetica, Arial, sans-serif;
    color: #282828
}

h1, h2, h3 {
    color: #202020;
}

nav {
    max-width: none;
    text-align: center;
    font-size: 1.1em;
    padding: 0;
    font-weight: 200;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgb(11, 183, 189);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 1.5em;
}

nav a {
    display: inline-block;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

table {
    text-align: left;
}

th {
    text-align: center;
}

.flash-message {
    margin: auto;
    max-width: 400px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    animation: fadeElement 1.5s linear 3s 1 normal forwards;
}

.flash-message p {
    padding: 0.5em;
}

.flash-message-success {
    background-color: #009100;
}

.flash-message-error {
    background-color: #b80101;
}

@keyframes fadeElement {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}