body {
    margin: auto;
    line-height: 1.5;
    max-width: 65em;
    font-family: Helvetica, Arial, sans-serif;
    color: #353D48;
    background-color: #87DDEC;
}

h1, h2, h3, tr, strong, .form-label, .address-container a {
    color: #282828;
}

nav {
    max-width: none;
    text-align: center;
    font-size: 1.1em;
    padding: 0;
    font-weight: 200;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #86589B;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 1.5em;
}

nav a {
    display: inline-block;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

table {
    text-align: left;
}

th {
    text-align: center;
}

table, tr, th {
    border-collapse: collapse;
    padding: 0 0.5em;
}

td {
    padding: 0 0.5em;
}

body, input, textarea, button {
    font-family: Helvetica, Arial, sans-serif;
}

textarea {
    resize: none;
}

p {
    margin: 0.5em 0;
}

button {
    background-color: #7083C4;
    border-style: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 1em;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

button:hover {
    background-color: #4A61AC;
}

.flash-message {
    margin: auto;
    max-width: 400px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    animation: fadeElement 2s ease-in-out 2s 1 normal forwards;
}

.flash-message p {
    padding: 0.5em;
    margin: 0;
}

.flash-message-success {
    background-color: #15C215;
}

.flash-message-error {
    background-color: #F44336;
}

.form {
    margin: auto;
}

.form-label {
    font-weight: 900;
    font-size: 1.25em;
    color: #282828;
}

.form-input {
    margin-bottom: 1.5em;
    width: 50%;
    font-size: 1em;
}

.container {
    background-color: #FFFFFF;
    height: 100%;
}

.content {
    padding: 1em;
}

.address-container {
    background-color: #E6E0E0;
}

.address-container:hover {
    background-color: #ACAAAA;
}

.address-container a {
    display: block;
    text-decoration: none;
}

@keyframes fadeElement {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}