{% extends "base.html" %}

{% block title %}
{% if employee %}
Käyttäjätiedot
{% else %}
Omat asiakastiedot
{% endif %}
{% endblock %}

{% block content %}
{% if employee %}
<h1>Käyttäjätiedot</h1>
{% else %}
<h1>Omat asiakastiedot</h1>
{% endif %}
<p>Käyttäjänimi: {{ username }}</p>
<h2>Osoitteet</h2>
{% if addresses %}
<table>
    <tr>
        <th>Nimi</th>
        <th>Katuosoite</th>
        <th>Postinumero ja -toimipaikka</th>
        <th>Puhelinnumero</th>
        <th>Sähköpostiosoite</th>
        {% if employee %}<th>Näkyvissä</th>{% endif %}
        <th></th>
    </tr>
    {% for address in addresses %}
    {% if address.visible or employee %}
    <tr>
        <td>{{ address.full_name }}</a></td>
        <td>{{ address.street_address }}</td>
        <td>{{ address.zip_code }} {{ address.city }}</td>
        <td>{{ address.phone_number }}</td>
        <td>{{ address.email }}</td>
        {% if employee %}<td>{% if address.visible %}&#x2714{% else %}&#x2715{% endif %}</td>{% endif %}
        {% if address.visible %}<td><button type="button" onclick="location.href = '/edit-address/{{ address.id }}'">Muokkaa</button></td>{% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
<p><a href="/new-address/{{ user_id }}">Lisää uusi osoite</a></p>
{% elif not addresses %}
{% if employee %}
<p>Käyttäjä ei ole lisännyt yhtään osoitetta.</p>
<p><a href="/new-address/{{ user_id }}">Lisää uusi osoite</a></p>
{% elif not employee %}
<p>Sinulla ei ole osoitteita. Lisää uusi osoite <a href="/new-address/{{ user_id }}">tästä</a>.</p>
{% endif %}
{% endif %}

<h2>Tilaukset</h2>
<h3>Avoimet tilaukset</h3>
{% if open_orders %}
<table>
    <tr>
        <th>Tilausnumero</th>
        <th>Tilaus tehty</th>
        <th>Loppusumma</th>
    </tr>
    {% for i in range (open_orders | length) %}
    <tr>
        <td><a href="../order/{{ open_orders[i][0] }}">{{ "{:05d}".format(open_orders[i][0]) }}</a></td>
        <td>{{ open_orders[i][1].strftime("%-d.%-m.%Y klo %-H.%M.%S") }}</td>
        <td>{{ ("%.2f" % open_order_grand_totals[i]).replace(".", ",") }} €</td> 
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei avoimia tilauksia</p>
{% endif %}
<h3>Toimitetut tilaukset</h3>
{% if delivered_orders %}
<table>
    <tr>
        <th>Tilausnumero</th>
        <th>Tilaus tehty</th>
        <th>Loppusumma</th>
    </tr>
    {% for i in range (delivered_orders | length) %}
    <tr>
        <td><a href="../order/{{ delivered_orders[i][0] }}">{{ "{:05d}".format(delivered_orders[i][0]) }}</a></td>
        <td>{{ delivered_orders[i][1].strftime("%-d.%-m.%Y klo %-H.%M.%S") }}</td>
        <td>{{ ("%.2f" % delivered_order_grand_totals[i]).replace(".", ",") }} €</td> 
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei toimitettuja tilauksia</p>
{% endif %}

{% if employee %}
<p><a href="/../make-admin/{{ user_id }}" onclick="return confirm('Haluatko varmasti lisätä käyttäjälle ylläpitäjän oikeudet?')">Lisää työntekijän oikeudet</a></p>
{% endif %}

{% endblock %}