{% extends "base.html" %}

{% block title %}Kaikki tuotteet{% endblock %}
{% block content %}
<h1>Kaikki tuotteet</h1>

{% if products %}
<form action="/all-products" METHOD="POST">
    <select id="order" name="order" onchange="this.form.submit()">
        <option value="price-asc" {% if order == "price-asc" %} selected {% endif %}>Edullisimmat ensin</option>
        <option value="price-desc" {% if order == "price-desc" %} selected {% endif %}>Kalleimmat ensin</option>
        <option value="alpha-asc" {% if order == "alpha-asc" %} selected {% endif %}>Tuotenimi (A-Ö)</option>
        <option value="alpha-desc" {% if order == "alpha-desc" %} selected {% endif %}>Tuotenimi (Ö-A)</option>
    </select>
</form>
<table>
    <tr>
        <th>Nimi</th>
        <th>Hinta</th>
        <th>Varastossa</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="product/{{ product.id }}">{{ product.name }}</a></td>
        <td>{{ ("%.2f" % product.price).replace(".", ",") }} €</td>
        <td>{{ product.quantity }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}