<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for("index") }}">Etusivu</a></li>
                <li><a href="{{ url_for("all_products") }}">Tuotteet</a></li>
                {% if employee %}
                <li><a href="{{ url_for("new_product") }}">Lisää tuote</a></li>
                <li><a href="{{ url_for("customers") }}">Asiakkaat</a></li>
                {% endif %}
                {% if not employee %}
                <li><a href="{{ url_for("account", id=id) }}">Omat asiakastiedot</a></li>
                {% endif %}
                <li><a href="{{ url_for("logout") }}">Kirjaudu ulos</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>

</html>