<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for("index") }}">Etusivu</a></li>
                <li><a href="{{ url_for("all_products") }}">Tuotteet</a></li>
                {% if employee %}
                <li><a href="{{ url_for("customers") }}">Asiakkaat</a></li>
                <li><a href="{{ url_for("all_orders") }}">Tilaukset</a></li>
                {% endif %}
                {% if not employee %}
                <li><a href="{{ url_for("account", id=user_id) }}">Omat asiakastiedot</a></li>
                <li><a href="{{ url_for("cart") }}">Ostoskori {% if number_of_items %}<b>({{ number_of_items }})</b>{% endif %}</a></li>
                {% endif %}
                <li><a href="{{ url_for("logout") }}">Kirjaudu ulos</a></li>
            </ul>
        </nav>
    </header>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="content">{% block content %}{% endblock %}
    
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="flash-message flash-message-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="flash-message flash-message-error">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
    </div>
</body>

</html>