{% extends "base.html" %}
{% block title %}Muokkaa osoitetta{% endblock %}
{% block content %}
<h1>Muokkaa osoitetta</h1>
<form action="/edit-address/{{ id }}" method="POST" class="form">
    <label for="full_name" class="form-label">Nimi</label><br>
    <input type="text" id="full_name" name="full_name" placeholder="Nimi" value="{{ address.full_name }}" class="form-input" required><br>
    <label for="street_address" class="form-label">Katuosoite</label><br>
    <input type="text" id="street_address" name="street_address" placeholder="Katuosoite" value="{{ address.street_address }}" class="form-input" required><br>
    <label for="zip_code" class="form-label">Postinumero</label><br>
    <input type="text" id="zip_code" name="zip_code" placeholder="Postinumero" value="{{ address.zip_code }}" class="form-input" required><br>
    <label for="city" class="form-label">Postitoimipaikka</label><br>
    <input type="text" id="city" name="city" placeholder="Postitoimipaikka" value="{{ address.city }}" class="form-input" onchange="toUpperCase()" required><br>
    <label for="phone_number" class="form-label">Puhelinnumero</label><br>
    <input type="text" id="phone_number" name="phone_number" placeholder="Puhelinnumero" value="{{ address.phone_number }}" class="form-input" required><br>
    <label for="email" class="form-label">Sähköpostiosoite</label><br>
    <input type="email" id="email" name="email" placeholder="Sähköpostiosoite" value="{{ address.email }}" class="form-input" required><br>
    <input type="hidden" id="address_owner" name="address_owner" value="{{ address.address_owner }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <button type="submit">Päivitä tiedot</button>
    <button type="button" onclick="location.href = '/account/{{ address.address_owner }}'">Peruuta</button>
</form>
<button type="button" onclick="if(confirm('Haluatko varmasti poistaa osoitteen?')) location.href='/../delete-address/{{ id }}'">Poista osoite</button>

{% endblock %}