{% extends "base.html" %}
{% block content %}
<h1>Etusivu</h1>
{% if session.username %}
<p>Olet kirjautunut sisään nimellä <b>{{ session.username }}</b></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<h2>Kirjautuminen</h2>
<form action="/" method="POST">
    Käyttäjätunnus: <input type="text" name="username"> <br>
    Salasana: <input type="password" name="password"> <br>
    <input type="submit" value="Kirjaudu sisään">
</form>
<br>
<a href="/register">Luo uusi käyttäjätili</a>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endif %}
{% endblock %}