<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Kirjaudu sisään</title>
</head>

<body>
    <h1>Kirjaudu sisään</h1>
    <form action="/" method="POST">
        Käyttäjätunnus: <input type="text" name="username"> <br>
        Salasana: <input type="password" name="password"> <br>
        <input type="submit" value="Kirjaudu sisään">
    </form>
    <a href="/register">Luo uusi käyttäjätili</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>