<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Kirjaudu sisään</title>
</head>

<body>
    <div class="container content">
    <h1>Kirjaudu sisään</h1>
        <form action="/" method="POST" class="form">
            <label for="username" class="form-label">Käyttäjätunnus</label><br>
            <input type="text" name="username" placeholder="Käyttäjätunnus" class="form-input"> <br>
            <label for="password" class="form-label">Salasana</label><br>
            <input type="password" name="password" placeholder="Salasana" class="form-input"> <br>
            <button type="submit">Kirjaudu sisään</button>
        </form>
    <a href="/register">Luo uusi käyttäjätili</a>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="flash-message flash-message-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="flash-message flash-message-error">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    </div>
</body>

</html>