{% extends "base.html" %}

{% block title %}Omat tilaukset{% endblock %}
{% block content %}
<h1>Omat tilaukset</h1>

<h2>Avoimet tilaukset</h2>
{% if open_orders %}
<table>
    <tr>
        <th>Tilausnumero</th>
        <th>Tilaus tehty</th>
        <th>Loppusumma</th>
    </tr>
    {% for i in range (open_orders | length) %}
    <tr>
        <td><a href="../order/{{ open_orders[i][0] }}">{{ "{:05d}".format(open_orders[i][0]) }}</a></td>
        <td>{{ open_orders[i][1].strftime("%-d.%-m.%Y klo %-H.%M.%S") }}</td>
        <td>{{ ("%.2f" % open_order_grand_totals[i]).replace(".", ",") }} €</td> 
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei avoimia tilauksia</p>
{% endif %}
<h2>Toimitetut tilaukset</h2>
{% if delivered_orders %}
<table>
    <tr>
        <th>Tilausnumero</th>
        <th>Tilaus tehty</th>
        <th>Loppusumma</th>
    </tr>
    {% for i in range (delivered_orders | length) %}
    <tr>
        <td><a href="../order/{{ delivered_orders[i][0] }}">{{ "{:05d}".format(delivered_orders[i][0]) }}</a></td>
        <td>{{ delivered_orders[i][1].strftime("%-d.%-m.%Y klo %-H.%M.%S") }}</td>
        <td>{{ ("%.2f" % delivered_order_grand_totals[i]).replace(".", ",") }} €</td> 
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Ei toimitettuja tilauksia</p>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}