{% extends "base.html" %}

{% block title %}Tilaus {{ "{:05d}".format(order_id) }}{% endblock %}
{% block content %}
<h1>Tilaus {{ "{:05d}".format(order_id) }}</h1>

<p>Tilaus tehty: {{ sent_at.strftime("%-d.%-m.%Y klo %-H.%M.%S") }}</p>
{% if status %}
<p>Tila:{% if status == 'delivered' %} toimitettu {% elif status == 'open' %} avoin{% endif %}</p>
{% endif %}
{% if employee %}
<p>Tekijä: <a href="../account/{{ order_info[0][5] }}">{{ order_info[0][6] }}</a></p>
{% endif %}

<h2>Tilaukseen kuuluvat tuotteet</h2>
<table>
    <tr>
        <th>Tuotenumero</th>
        <th>Tuote</th>
        <th>Määrä</th>
        <th>Kpl-hinta</th>
        <th>Yhteensä</th>
    </tr>
    <tr>
    {% for product in order_info %}
        <td>{{ "{:05d}".format(product.product_id) }}</td>
        <td><a href="../product/{{ product.product_id }}">{{ product.name }}</a></td>
        <td>{{ product.quantity }}</td>
        <td>{{ ("%.2f" % product.price).replace(".", ",") }} €</td>
        <td>{{ ("%.2f" % product.subtotal).replace(".", ",") }} €</td>
    </tr>
    {% endfor %}
</table>
<br>
<b>Yhteensä: {{ ("%.2f" % grand_total).replace(".", ",") }} €</b>

<h2>Toimitusosoite</h2>
<p>
    {{ address[1] }}<br>
    {{ address[2] }}<br>
    {{ address[3] }} {{ address[4] }}<br>
    <img src="{{ url_for('static', filename='/images/phone.png') }}" width="12" height="12"/> {{ address[5] }}<br>
    <img src="{{ url_for('static', filename='/images/mail.png') }}" width="12" height="12"/> {{ address[6] }}
</p>

{% if employee %}
{% if status == 'open' %}
<button type="button" onclick="location.href = '/../handle-order/{{ order_id }}'">Käsittele tilaus</button>
{% endif %}
{% endif %}

{% endblock %}