{% extends "base.html" %}
{% block content %}
{% if not product %}
<h1>Tuotetta ei löytynyt</h1>
{% else %}
<h1>{{ product.name }}</h1>
<p>Tuotenumero: {{ id }}</p>
<p>Hinta: {{ product.price.replace('.', ',') }} €</p>
<p>Saatavilla: {{ product.quantity }}</p>
{% if product.description %}
<p>Kuvaus: {{ product.description }}</p>
{% endif %}
{% if employee %}
<p><a href="{{ url_for("edit_product", id=id) }}">Muokkaa tuotetietoja</a></p>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endif %}
{% endblock %}