<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Luo uusi käyttäjätili</title>
</head>

<body>
    <h1>Luo uusi käyttäjätili</h1>
    <p>Onko sinulla tili? <a href="/">Kirjaudu sisään</a></p>
    <form action="/register" method="POST">
        Käyttäjätunnus: <input type="text" name="username"> <br>
        Salasana: <input type="password" name="password1"> <br>
        Vahvista salasana: <input type="password" name="password2"> <br>
        <input type="submit" value="Luo käyttäjätili">
    </form>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="flash-message flash-message-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="flash-message flash-message-error">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</body>

</html>