<h1>Luo uusi käyttäjätili</h1>
<p>Onko sinulla tili? <a href="/">Kirjaudu sisään</a></p>
<form action="/register" method="POST">
    Käyttäjätunnus: <input type="text" name="username"> <br>
    Salasana: <input type="password" name="password1"> <br>
    Vahvista salasana: <input type="password" name="password2"> <br>
    <input type="submit" value="Luo käyttäjätili">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}